<template name="idle">
    <section class="content-header">
        <h1>IdleLands<small>Players</small></h1>
        <ol class="breadcrumb">
            <li class="active"><span class="fa fa-group"></span> <a href="{{pathFor 'idle'}}">Player List</a></li>
        </ol>
    </section>
    <section class="content">
        <div class="filters form-inline">
            <span class="h3">Filters: </span>
            <input class="form-control" placeholder="Search by name..."/>
            <select class="form-control">
                {{#each stats}}
                    <option value="{{value}}">{{name}}</option>
                {{/each}}
            </select>
        </div>
        <hr>
        {{#each players}}
        <div class="col-md-3 col-sm-3 col-xs-6">
            <div class="small-box bg-blue">
                <div class="inner">
                    <h3>Level {{level.__current}}</h3>
                    <p>{{professionName}}</p>
                </div>
                <a href="{{pathFor 'idle.player' name=name}}" class="small-box-footer">
                    {{name}} <span class="fa fa-arrow-circle-right"></span>
                </a>
            </div>
        </div>
        {{/each}}
    </section>
</template>
