
<template name="idle.player">
    <section class="content-header">
        <h1>IdleLands<small>Players</small></h1>
        <ol class="breadcrumb">
            <li><span class="fa fa-group"></span> <a href="{{pathFor 'idle'}}">Player List</a></li>
            <li class="active">{{name}}</li>
        </ol>
    </section>
    <section class="content content-inner">
        <div class="row">
            <div class="col-md-12">
                <div class="pull-left">
                    <h1>{{name}}, the level {{level.__current}}&nbsp;{{professionName}}</h1>
                    {{#if partyName}}
                    <h4>Member of {{partyName}}</h4>
                    {{else}}
                    <h4>No party</h4>
                    {{/if}}
                    <h4>Gold: {{ gold.__current }}</h4>
                </div>
                <div class="pull-left knobs" id="xp-container">
                    <canvas id="xpknob" class="pull-left"></canvas>
                    <div id="xpval">
                        <b>Experience</b>
                        <br>
                        {{xp.__current}}/{{xp.maximum}}
                    </div>
                </div>
                <div class="clearfix pull-up" style="clear:both"></div>
            </div>
            <hr>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-xs-4">
                        <div class="small-box bg-red">
                            <div class="inner">
                                <h3>{{hp.maximum}}</h3>
                                <p>&nbsp;</p>
                            </div>
                            <div class="icon">
                                <span class="fa fa-heart"></span>
                            </div>
                            <a class="small-box-footer">Maximum HP</a>
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="small-box bg-purple">
                            <div class="inner">
                                <h3>{{mp.maximum}}</h3>
                                <p>&nbsp;</p>
                            </div>
                            <div class="icon">
                                <span class="fa fa-magic"></span>
                            </div>
                            <a class="small-box-footer">Maximum MP</a>
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="small-box bg-yellow">
                            <div class="inner">
                                <h3>{{special.__current}}</h3>
                                <p>/ {{special.maximum}}</p>
                            </div>
                            <div class="icon">
                                <span class="fa fa-asterisk"></span>
                            </div>
                            <a class="small-box-footer">Special Stat</a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="box box-primary">
                            <div class="box-header">
                                <h3 class="box-title">Stat Totals</h3>
                                <div class="box-tools pull-right"><div class="label bg-maroon">STAT TOTALS</div></div>
                            </div>
                            <div class="box-body">
                                {{#with totalStats}}
                                <div class="row">
                                    {{> stat name='str' val=str valP=strPercent width='col-md-1 col-xs-1'}}
                                    {{> stat name='con' val=con valP=conPercent width='col-md-1 col-xs-1'}}
                                    {{> stat name='dex' val=dex valP=dexPercent width='col-md-1 col-xs-1'}}
                                    {{> stat name='int' val=int valP=intPercent width='col-md-1 col-xs-1'}}
                                    {{> stat name='wis' val=wis valP=wisPercent width='col-md-1 col-xs-1'}}
                                    {{> stat name='agi' val=agi valP=agiPercent width='col-md-1 col-xs-1'}}
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-md-1"></div>
                                    {{> stat name='fire' val=fire valP=firePercent width='col-md-1 col-xs-1'}}
                                    {{> stat name='water' val=water valP=waterPercent width='col-md-1 col-xs-1'}}
                                    {{> stat name='shock' val=thunder valP=thunderPercent width='col-md-1 col-xs-1'}}
                                    {{> stat name='earth' val=earth valP=earthPercent width='col-md-1 col-xs-1'}}
                                    {{> stat name='ice' val=ice valP=icePercent width='col-md-1 col-xs-1'}}
                                </div>
                                {{/with}}
                            </div>
                        </div>
                    </div>
                </div>
                {{#each equipment}}
                <div class="row">
                    <div class="col-md-12">
                        <div class="box box-info">
                            <div class="box-header">
                                {{#if enchantLevel != 0}}
                                <h3 class="box-title">+{{enchantLevel}} {{name}}</h3>
                                {{else}}
                                <h3 class="box-title">{{name}}</h3>
                                {{/if}}
                                <div class="box-tools pull-right"><div class="label bg-aqua">{{type}}</div></div>
                            </div>
                            <div class="box-body">
                                <div class="row">
                                    {{> stat name='str' val=str valP=strPercent width='col-md-1 col-xs-1'}}
                                    {{> stat name='con' val=con valP=conPercent width='col-md-1 col-xs-1'}}
                                    {{> stat name='dex' val=dex valP=dexPercent width='col-md-1 col-xs-1'}}
                                    {{> stat name='int' val=int valP=intPercent width='col-md-1 col-xs-1'}}
                                    {{> stat name='wis' val=wis valP=wisPercent width='col-md-1 col-xs-1'}}
                                    {{> stat name='agi' val=agi valP=agiPercent width='col-md-1 col-xs-1'}}
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-md-1"></div>
                                    {{> stat name='fire' val=fire valP=firePercent width='col-md-1 col-xs-1'}}
                                    {{> stat name='water' val=water valP=waterPercent width='col-md-1 col-xs-1'}}
                                    {{> stat name='shock' val=thunder valP=thunderPercent width='col-md-1 col-xs-1'}}
                                    {{> stat name='earth' val=earth valP=earthPercent width='col-md-1 col-xs-1'}}
                                    {{> stat name='ice' val=ice valP=icePercent width='col-md-1 col-xs-1'}}
                                </div>
                                <hr>
                                no special stats
                            </div>
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>

            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">Personalities</div>
                            <div class="panel-body">{{ personalityString }}</div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">{{map}} - {{x}},{{y}}</div>
                            <div class="panel-body">Map image will go here</div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">Player Statistics</div>
                            <div class="panel-body">
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <td>Event</td>
                                        <td>Occurrence</td>
                                    </tr>
                                    </thead>
                                    <tbody>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>

<template name="__stat">
    <div class="{{width}} text-right">{{name}}</div>
    <div class="{{width}}">
        <span class="stat-value">{{val}}</span>
        <br>
        <span class="stat-value">{{valP}}%</span>
    </div>
</template>