<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kurea Web Interface</title>
</head>
<body>
</body>

<template name="master">
    <header class="header skin-blue">
        <a class="logo" href="{{pathFor 'home'}}">Kurea</a>
        <nav class="navbar navbar-static-top" role="navigation">
            <div class="container-fluid">
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown">Apps <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="{{pathFor 'log'}}">Log Viewer</a></li>
                                <li><a href="{{pathFor 'idle'}}">Idle Lands</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="wrapper">
        <aside class="right-side">
            {{> yield}}
        </aside>
    </div>
</template>

<template name="home">
    <div class="row">
        <div class="col-md-12">
            <h1>Check out my apps</h1>
        </div>
    </div>
</template>