<template name="idlebattlelist">
    <section class="content-header">
        <h1>IdleLands<small>Battles</small></h1>
        <ol class="breadcrumb">
            <li><span class="fa fa-group"></span> <a href="#" ui-sref="idle.urlone">Player List</a></li>
            <li class="active"><span class="fa fa-legal fa-rotate-90"></span> Battles</li>
        </ol>
    </section>

    <div class="row both-margins-15">
        <span class="col-md-12">
            <span class="fa fa-users text-info"></span> [[battles.length]] battles involved much death to create this page
        </span>
    </div>

  {{> idlebattlebody }}
</template>

<template name="idlebattlelistsidebar">
    <section class="content-header">
        <h3 class="text-center filter-header">Filters</h3>
    </section>
    <section class="filters sidebar-form">
        <div class="row">
            <h4 class="text-center filter-header">Combatants</h4>
            <div class="col-xs-12">
                <input class="form-control" ng-model="editing.name" placeholder="Search by name..."/>
            </div>
        </div>
    </section>
</template>

<template name="idlebattlebody">
    <div class="row filter-header">
        <div ng-repeat="battle in getVisibleBattles() | orderBy:['-started', 'name']">
          {{> idlebattleitem }}
        </div>
    </div>
</template>

<template name="idlebattleitem">
    <div class="col-sm-6 col-md-3">
        <div class="small-box bg-red">
            <div class="inner">
                <p><small>[[countInvolvedMembers(battle)]] combatants</small></p>
                <p><small>[[battle.messages.length]] events</small></p>
                <p><small>Happened <span am-time-ago="battle.started"></span></small></p>
            </div>
            <div class="icon">
                Lv[[avgLevel(battle)]]
            </div>
            <a class="small-box-footer">
                <a ui-sref="idlebattle({battleName: battle.name})" class="small-box-footer">
                    [[battle.name]] <span class="fa fa-arrow-circle-right"></span>
                </a>
            </a>
        </div>
    </div>
</template>