<template name="idleglobalstatsportal">
    <section class="content-header">
        <h1>IdleLands<small>Global Statistics Portal</small></h1>
        <ol class="breadcrumb">
            <li><span class="fa fa-group"></span> <a href="#" ui-sref="idle.urlone">Player List</a></li>
            <li class="active"><span class="fa fa-calculator"></span> Stats</li>
        </ol>
    </section>

    <div class="row both-margins-15">
        <div class="col-md-4">
            <div class="box box-success pointer inner-hover-blue" ui-sref="idleglobalstatsplayers">
                <div class="box-header">
                    <h4 class="text-center">Player Statistics</h4>
                </div>
                <div class="box-body no-padding text-center">
                    <span class="fa mega-icon fa-user"></span>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="box box-success pointer inner-hover-blue" ui-sref="idleglobalstatsguilds">
                <div class="box-header">
                    <h4 class="text-center">Guild Statistics</h4>
                </div>
                <div class="box-body no-padding text-center">
                    <span class="fa mega-icon fa-sitemap"></span>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="box box-success pointer inner-hover-blue" ui-sref="idleglobalstatspets">
                <div class="box-header">
                    <h4 class="text-center">Pet Statistics</h4>
                </div>
                <div class="box-body no-padding text-center">
                    <span class="fa mega-icon fa-paw"></span>
                </div>
            </div>
        </div>
    </div>
</template>