
<template name="idlepet">
    <section class="content-header" ng-repeat="item in pet">
        <h1>IdleLands<small>[[item.name]], the level [[item.level.__current]]/[[item.level.maximum]] [[item.type]] [[item.professionName]] with [[ item.attrs[0] ]] and [[ item.attrs[1] ]]</small></h1>
        <ol class="breadcrumb">
            <li>
                <span class="fa fa-group"></span> <a href ui-sref="idle.urlone">Player List</a>
            </li>
            <li><span class="fa fa-paw"></span> <a href ui-sref="idlepets">Pets</a></li>
            <li><span class="fa fa-user"></span> <a ui-sref="idleplayer({playerName: item.owner.name})">[[item.owner.name]]</a></li>
            <li class="active">[[item.name]]</li>
        </ol>
    </section>

    <div ng-repeat="item in pet">
        {{> idlepetheader }}
        {{> idlepetbody }}
    </div>

</template>

<template name="idlepetsidebar">
    <div class="user-panel" ng-repeat="item in pet">
        <div class="info">
            [[updateXp(item)]]
            <div id="xp-container">
                <canvas id="xpGauge"></canvas>
                <div class="xpval">
                    <b>Experience</b>
                    <br><br>
                    <span>[[item.xp.__current]]/[[item.xp.maximum]]</span>
                </div>
            </div>
        </div>
    </div>
    <ul class="sidebar-menu" ng-repeat="item in pet">
        <li>
            <a>
                <i class="fa fa-fw fa-key"></i> [[item.createdAt]]
            </a>
        </li>
        <li>
            <a ui-sref="idleplayer({playerName: item.creator.name})">
                <i class="fa fa-fw fa-home"></i> [[item.creator.name]]
            </a>
        </li>
        <li>
            <a ui-sref="idleplayer({playerName: item.owner.name})">
                <i class="fa fa-fw fa-user"></i> [[item.owner.name]]
            </a>
        </li>
        <li>
            <a>
                <i class="fa fa-fw fa-certificate" ng-class="{
                    'text-muted': !item.isActive,
                    'text-success': item.isActive}"></i> <span>[[item.isActive ? 'Active' : 'Inactive']]</span>
            </a>
        </li>
        <li>
            <a>
                <i class="fa fa-fw fa-[[getTypeIcon(item)]]"></i> [[item._configCache.category]]
            </a>
        </li>
        <li>
            <a>
                <i class="fa fa-fw fa-[[getGenderFor(item)]]"></i> [[item.gender]]
            </a>
        </li>
        <li>
            <a bs-tooltip data-title="[[item.createdAt | amDateFormat:'dddd, MMMM Do YYYY, h:mm:ss a']]">
                <i class="fa fa-fw fa-clock-o"></i> Found <span am-time-ago="item.createdAt"></span>
            </a>
        </li>
        <li>
            <a>
                <i class="fa fa-fw icon-money"></i> [[_.str.numberFormat(item.gold.__current)]]/[[_.str.numberFormat(item.gold.maximum)]] Gold
            </a>
        </li>
        <li>
            <a>
                <i class="fa fa-fw fa-link"></i> Max Item Score: [[item._baseStats.itemFindRange | number:0]]
            </a>
        </li>
        <li ng-if="item.nextItemFind && item.isActive">
            <a>
                <i class="fa fa-fw fa-refresh"></i> Next find <span am-time-ago="item.nextItemFind"></span>
            </a>
        </li>
        <li>
            <a>
                <i class="fa fa-fw fa-[[item.smartSell ? 'check' : 'remove']]"></i> Smart Sell
            </a>
        </li>
        <li>
            <a>
                <i class="fa fa-fw fa-[[item.smartEquip ? 'check' : 'remove']]"></i> Smart Equip
            </a>
        </li>
        <li>
            <a>
                <i class="fa fa-fw fa-[[item.smartSelf ? 'check' : 'remove']]"></i> Smart Self
            </a>
        </li>
    </ul>
</template>

<template name="idlepetheader">
    <div class="row">
        <div class="col-md-7 col-xs-12">
            <div class="row">
                <div class="col-md-12">
                    <blockquote ng-if="getPetTagline(item)">
                        <p>
                            [[getPetTagline(item)]]
                        </p>
                        <small>Mantra of the [[item.type]]</small>
                    </blockquote>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    {{> idlepetstats }}
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12" ng-repeat="equipment in lastCalcObj">
                    {{> idlepetequipment }}
                </div>
            </div>
        </div>

        <div class="col-md-5 col-xs-12">
            <div class="row">
                <div class="col-md-12">
                    {{> idlepetstatlevels }}
                </div>
            </div>
        </div>
    </div>
</template>

<template name="idlepetbody">
    <div class="row">
        <div class="col-xs-12">
            <div class="row" ng-init="allEquipment = getPetSoulAndTotals(item)">
                <div class="col-xs-12" ng-repeat="equipment in allEquipment">
                    {{> idlepetequipment }}
                </div>
            </div>
        </div>
    </div>
    <div class="row" ng-repeat="key in getEquipmentTypes(item)">
        <div class="col-xs-12">
            <div class="row">
                <div class="col-xs-12">
                    <h3 class="text-center">[[key]] [[getEquipmentOfType(item, key).length]]/[[ item._configCache.slots[key] ]]</h3>
                </div>
            </div>
            <div class="row" ng-repeat="equipment in getEquipmentOfType(item, key)">
                <div class="col-xs-12">
                    {{> idlepetequipment }}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="row">
                <div class="col-xs-12">
                    <h3 class="text-center">inventory [[item.inventory.length]]/[[ item._configCache.scale.inventory[item.scaleLevel.inventory] ]]</h3>
                </div>
            </div>
            <div class="row" ng-repeat="equipment in getInventory(item)">
                <div class="col-xs-12">
                    {{> idlepetequipment }}
                </div>
            </div>
        </div>
    </div>
</template>

<template name="idlepetstatlevels">
    <div class="stat-box box box-warning">
        <div class="box-header">
            <h3 class="box-title">Upgrade Levels</h3>
        </div>
        <div class="box-body no-padding">
            <table class="table table-striped table-condensed no-margin">
                <tr>
                    <th>Stat</th>
                    <th>Level</th>
                    <th>Gift</th>
                </tr>
                <tr ng-repeat="(stat, level) in item.scaleLevel">
                    <td>[[petUpgradeData[stat].stat]]</td>
                    <td>
                        <span
                            data-title="Next level cost: [[_.str.numberFormat(item._configCache.scaleCost[stat][item.scaleLevel[stat]+1])]]"
                            bs-tooltip
                            data-trigger="[[item.scaleLevel[stat]+1 !== item._configCache.scale[stat].length ? 'hover focus' : 'manual']]"
                            ng-class="{
                            'stat-total': item.scaleLevel[stat]+1 !== item._configCache.scale[stat].length}
                        ">[[item.scaleLevel[stat]+1]]/[[item._configCache.scale[stat].length]]</span>
                    </td>
                    <td>[[petUpgradeData[stat].gift.split("%gift").join(formatGift(stat, item._configCache.scale[stat][ item.scaleLevel[stat] ]))]]</td>
                </tr>
            </table>
        </div>
    </div>
</template>

<template name="idlepetstats">
    <div ng-class="{'col-xs-4': item.special.name, 'col-xs-6': !item.special.name}">
        <div class="small-box bg-red">
            <div class="inner">
                <h3>[[item.hp.maximum]]</h3>
                <p>&nbsp;</p>
            </div>
            <div class="icon">
                <span class="fa fa-heart"></span>
            </div>
            <a class="small-box-footer">Maximum HP</a>
        </div>
    </div>
    <div ng-class="{'col-xs-4': item.special.name, 'col-xs-6': !item.special.name}">
        <div class="small-box bg-purple">
            <div class="inner">
                <h3>[[item.mp.maximum]]</h3>
                <p>&nbsp;</p>
            </div>
            <div class="icon">
                <span class="fa fa-magic"></span>
            </div>
            <a class="small-box-footer">Maximum MP</a>
        </div>
    </div>
    <div class="col-xs-4" ng-if="item.special.name">
        <div class="small-box bg-yellow">
            <div class="inner">
                <h3>[[item.special.__current]]</h3>
                <p>/ [[item.special.maximum]]</p>
            </div>
            <div class="icon">
                <span class="fa fa-asterisk"></span>
            </div>
            <a class="small-box-footer">[[item.special.name]]</a>
        </div>
    </div>
</template>

<template name="idlepetequipment">
    <div class="stat-box box box-[[equipment.headerColor || 'info']]">
        <div class="box-header">
            <div class="row">
                <div class="col-xs-12">
                    <h3 class="box-title">[[equipment.enchantLevel ? '+'+equipment.enchantLevel+' ' : '']][[equipment.name]] <small ng-if="canSeeUid(item, equipment)">([[equipment.uid]])</small></h3>
                    <div class="box-tools pull-right">
                        <div class="label [[equipment.bgClassColor]] class-label pull-right" ng-if="equipment.itemClass">[[equipment.itemClass]]</div>
                        <br ng-if="equipment.itemClass">
                        <div class="label [[equipment.bgColor]] type-label pull-right">[[equipment.type]]</div>
                        <br ng-if="equipment.extraColor">
                        <div ng-if="equipment.extraText" class="label [[equipment.extraColor]] type-label pull-right">[[equipment.extraText]]</div>
                    </div>
                </div>
            </div>
            <div class="row" ng-if="equipment.foundAt && equipment.name !== 'empty' && equipment.type !== 'pet soul'">
                <div class="col-xs-3 margin-left-15 subnote">
                    Found <span am-time-ago="equipment.foundAt" data-title="[[equipment.foundAt | amDateFormat:'dddd, MMMM Do YYYY, h:mm:ss a']]" bs-tooltip></span>
                </div>
                <div class="col-xs-3 subnote">
                    <span
                     bs-tooltip
                     data-title="PR, or Player Relativity, is how high the items score is in comparison to the players maximum item finding range. A higher percentage means the item is in better shape, and does not need to be replaced very soon, and a score >100% means that the item was blessed beyond the players item find range, which is good."
                     ng-class="{
                        'text-danger': playerItemScore(item, equipment) < 50,
                        'text-warning': playerItemScore(item, equipment) < 70,
                        'text-success': playerItemScore(item, equipment) >= 70}">
                    PR [[playerItemScore(item, equipment)]]%</span>
                </div>
                <div class="col-xs-3 subnote">
                    <span
                     bs-tooltip
                     data-title="IR, or Item Relativity, is how high the items score is in comparison to when it was first found. A higher percentage means it has gone through a lot of changes since it was first found. Note: high percentages are not uncommon."
                     ng-class="{
                        'text-danger': itemItemScore(equipment) < 50,
                        'text-warning': itemItemScore(equipment) < 70,
                        'text-success': itemItemScore(equipment) >= 70}">
                    IR [[itemItemScore(equipment)]]%</span>
                </div>
                <div class="col-xs-2 subnote">
                    <span class="fa fa-link [[getEquipColor(item, equipment)]]"></span> Score: [[equipment._calcScore]]
                </div>
            </div>
        </div>
        <div class="box-body">
            <div class="row">
                <div class="col-sm-2 col-xs-4" ng-repeat="stat in equipmentStatArray">
                    <span class="fa fa-fw [[stat.fa]]" data-title="[[stat.name]]" bs-tooltip></span>
                    <span
                    data-html="true"
                    data-placement="bottom"
                    data-trigger="[[equipment.name === 'Equipment Stat Totals' ? 'hover' : 'manual']]"
                    data-content="[[$sce.trustAsHtml(getPopoverFor(item, stat.name))]]"
                    bs-popover
                    ng-class="{
                        'text-danger': equipment[stat.name] < 0,
                        'text-success': equipment[stat.name] > 0,
                        'stat-total': equipment.name === 'Equipment Stat Totals'}
                    ">[[ equipment[stat.name] || 0 ]]</span>
                    <span
                    ng-if="equipment.name !== 'Last Cached Calculated Stats'"
                    data-html="true"
                    data-placement="bottom"
                    data-trigger="[[equipment.name === 'Equipment Stat Totals' ? 'hover' : 'manual']]"
                    data-content="[[$sce.trustAsHtml(getPopoverFor(item, stat.name+'Percent'))]]"
                    bs-popover
                    ng-class="{
                        'text-danger': equipment[stat.name+'Percent'] < 0,
                        'text-success': equipment[stat.name+'Percent'] > 0,
                        'stat-total': equipment.name === 'Equipment Stat Totals'}
                    ">/ [[ equipment[stat.name+'Percent'] || 0 ]]%</span>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    [[getExtraStats(equipment)]]
                </div>
            </div>
        </div>
    </div>
</template>