<template name="idleguild">
    <section class="content-header">
        <h1>IdleLands<small>[[guild.name]]</small></h1>
        <ol class="breadcrumb">
            <li>
                <span class="fa fa-group"></span> <a href ui-sref="idle.urlone">Player List</a>
            </li>
            <li><span class="fa fa-sitemap"></span> <a href ui-sref="idleguildlist">Guilds</a></li>
            <li class="active">[[guild.name]]</li>
        </ol>
    </section>

    <div class="row">
        <h1 class="col-md-3 col-md-offset-1"><span class="fa fa-star"></span> Leader</h1>
    </div>

    <div class="row">
        <div class="col-md-3" ng-repeat="player in leader">
            {{> idleguildmember}}
        </div>
    </div>

    <div class="row">
        <h1 class="col-md-3 col-md-offset-1"><span class="fa fa-star-half-o"></span> Admins</h1>
    </div>

    <div class="row">
        <div class="col-md-3" ng-repeat="player in admins track by $index">
          {{> idleguildmember}}
        </div>
    </div>

    <div class="row">
        <h1 class="col-md-3 col-md-offset-1"><span class="fa fa-star-o"></span> Members</h1>
    </div>

    <div class="row">
        <div class="col-md-3 col-sm-6" ng-repeat="player in members track by $index">
          {{> idleguildmember}}
        </div>
    </div>
</template>

<template name="idleguildmember">
    <div class="small-box" ng-class="{
                    'bg-gray ': !player.isOnline,
                    'bg-green': player.isOnline
                    }">
        <div class="inner">
            <h3>Level [[player.level.__current]]</h3>
            <p ng-if="player.isOnline">Currently Online</p>
            <p ng-if="!player.isOnline">Last seen <span am-time-ago="player.lastLogin"></span></p>
            <p>[[player.professionName]]</p>
        </div>
        <a ui-sref="idleplayer({playerName: player.name})" class="small-box-footer">
            [[player.name]] <span class="fa fa-arrow-circle-right"></span>
        </a>
    </div>
</template>

<template name="idleguildsidebar">
    <section class="content-header">
        <h3 class="text-center filter-header">Stats</h3>
    </section>
    <ul class="sidebar-menu">
        <li>
            <a>
                <i class="fa fa-fw fa-clock-o"></i> Founded <span am-time-ago="guild.createDate" data-title="[[guild.createDate | amDateFormat:'dddd, MMMM Do YYYY, h:mm:ss a']]" bs-tooltip></span>
            </a>
        </li>
        <li>
            <a>
                <i class="fa fa-fw fa-sitemap"></i> Level [[guild.level]]
            </a>
        </li>
        <li>
            <a>
                <i class="fa fa-fw fa-users"></i> [[guild.members.length]] members
            </a>
        </li>
        <li>
            <a>
                <i class="fa fa-fw fa-envelope"></i> [[guild.invitesAvailable]] invites left
            </a>
        </li>
        <li>
            <a>
                <i class="fa fa-fw icon-money"></i> [[guild.gold.__current | number:0]] gold
            </a>
        </li>
        <li>
            <a>
                <i class="fa fa-fw icon-money"></i> Tax Percent [[guild.taxPercent]]%
            </a>
        </li>
        <li>
            <a ui-sref="idlemapviewer({mapName: guild.baseMapName})">
                <i class="fa fa-fw fa-globe"></i> Guild Hall
            </a>
        </li>
    </ul>
    <section class="content-header" ng-if="guild.buffs.length > 0">
        <h3 class="text-center filter-header">Buffs</h3>
    </section>
    <ul class="sidebar-menu">
        <li ng-repeat="buff in guild.buffs">
            <a>
                <i class="fa fa-fw [[nameToIcon(buff.type)]]" bs-tooltip data-title="[[buff.name]]"></i> ([[buff.tier]]) Expires <span am-time-ago="buff.expire" data-title="[[buff.expire | amDateFormat:'dddd, MMMM Do YYYY, h:mm:ss a']]" bs-tooltip></span>
            </a>
        </li>
    </ul>
</template>