a.dropdown-toggle, .pointer {
  cursor: pointer;
}

.left-side {
  min-height: 0%!important;
}

.skin-blue .sidebar {
  border-bottom: 0;
}

@media screen and (max-width: 992px) {
  .wrapper {
    position: relative;
    transition: all .25s ease-out;
    left: 0;
  }

  .wrapper.is-expanded {
    left: 220px;
  }

  .left-side {
    left: -220px;
    width: 220px;
    position: absolute;
    top: 0;
  }
}

.spaced-nav {
  display: inline;
  list-style-type: none;
  width: 100%;
  padding-right: 40px;
  height: 32px;

  li {
    text-align: center;
    display: inline;
    vertical-align: middle;
    line-height: 32px;

    a {
      width: 10%;
      color: #000;

      &:hover {
        text-decoration: none;
      }
    }

    &.active a {
      color: #cac;
    }
  }
}

.mega-icon {
  font-size: 20em;
}

.inner-hover-blue:hover {
  .mega-icon {
    text-shadow: 0 0 10px blue;
  }
}