<template name="idle">
    <section class="content-header">
        <h1>IdleLands<small>Players</small></h1>
        <ol class="breadcrumb">
            <li class="active"><span class="fa fa-group"></span> <a href="#" ui-sref="idle">Player List</a></li>
        </ol>
    </section>
    <section>
        <div class="col-md-3 col-sm-3 col-xs-6" ng-repeat="player in filteredPlayers() | filter:{name:filters.name, professionName: filters.profession} | orderBy:filters.stat:true">
            <div class="small-box bg-blue">
                <div class="inner">
                    <h3>[[filters.statName]] [[decompose(player, filters.stat)]]</h3>
                    <p>[[player.professionName]]</p>
                </div>
                <a ui-sref="idleplayer({playerName: player.name})" class="small-box-footer">
                    [[player.name]] <span class="fa fa-arrow-circle-right"></span>
                </a>
            </div>
        </div>
    </section>
</template>

<template name="idle-sidebar">
    <section class="content-header">
        <h3 class="text-center filter-header">Filters</h3>
    </section>
    <div class="filters">
        <div class="row">
            <h4 class="text-center filter-header">Name</h4>
            <div class="col-xs-12">
                <input class="form-control" ng-model="editing.name" placeholder="Search by name..."/>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <h4 class="text-center filter-header">Class</h4>
                <select class="form-control" ng-model="editing.profession" placeholder="Select a class...">
                    <option selected="selected" value="">(any)</option>
                    <option ng-repeat="profession in filterableClasses">[[profession]]</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <h4 class="text-center filter-header">Stat</h4>
                <select class="form-control" ng-model="editing.stat" ng-init="editing.stat='Level'">
                    <option ng-repeat="stat in filterableStats" ng-value="stat.key">[[stat.name]]</option>
                </select>
            </div>
        </div>
    </div>
</template>
