<template name="idleglobalstats">
    <section class="content-header">
        <h1>IdleLands<small>Global Statistics</small></h1>
        <ol class="breadcrumb">
            <li><span class="fa fa-group"></span> <a href="#" ui-sref="idle.urlone">Player List</a></li>
            <li class="active"><span class="fa fa-calculator"></span> Stats</li>
        </ol>
    </section>

    <div class="row both-margins-15">
        <span class="col-md-6">
            <span class="fa fa-users text-info"></span> [[players.length]] players were aggregated for this statistics page
        </span>
    </div>

    <div class="row filter-header">
        <div class="col-md-4">
            <div class="row">
                <div class="col-md-12">
                    {{> idleglobalstatsbase }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    {{> idleglobalstatslevels }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    {{> idleglobalstatsnewest }}
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="row">
                <div class="col-md-12">
                    {{> idleglobalstatsleaderboard }}
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="row">
                <div class="col-md-12">
                    {{> idleglobalstatstotals }}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            {{> idleglobalstatsitems }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            {{> idleglobalstatsgeneratable }}
        </div>
        <div class="col-md-3">
            {{> idleglobalstatspopclasses }}
        </div>
        <div class="col-md-3">
            {{> idleglobalstatspopmaps }}
        </div>
        <div class="col-md-3">
            {{> idleglobalstatspoppers }}
        </div>
    </div>
</template>

<template name="idleglobalstatsitems">
    <div class="box box-warning">
        <div class="box-header">
            <h4 class="text-center">Best Items of All Time (For Now)</h4>
        </div>
        <div class="box-body no-padding">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Owner Name</th>
                    <th>Item Categorization</th>
                    <th>Item Name</th>
                    <th>Item Score</th>
                    <th ng-repeat="header in topEquipmentDisplayOrder">[[header.toUpperCase()]]</th>
                </tr>
                </thead>
                <tr ng-if="topEquipment.length === 0">
                    <td colspan="11">Calculating the best items...</td>
                </tr>
                <tr ng-repeat="item in topEquipment">
                    <td><a ui-sref="idleplayer({playerName:item.owner})">[[item.owner]]</a></td>
                    <td>[[item.itemClass]] [[item.type]]</td>
                    <td>[[item.name]]</td>
                    <td>[[item._calcScore]]</td>
                    <td ng-repeat="header in topEquipmentDisplayOrder"
                        ng-class="{
                            'text-success': item[header] > 0,
                            'text-danger': item[header] < 0
                        }">
                        [[ item[header] ]]</td>
                </tr>
            </table>
        </div>
    </div>
</template>

<template name="idleglobalstatsbase">
    <div class="box box-warning">
        <div class="box-header">
            <h4 class="text-center">Top Stats</h4>
         </div>
        <div class="box-body no-padding">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Stat</th>
                    <th>Player</th>
                    <th class="text-center">Value</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="stat in filters.stats">
                    <th class="text-right width-10">[[stat.name]]</th>
                    <td><a ui-sref="idleplayer({playerName:getMaxOfStat(stat.key).head.name})">[[getMaxOfStat(stat.key).head.name]]</a></td>
                    <td
                            class="text-center"
                            bs-tooltip
                            data-html="true"
                            data-container="body"
                            data-title="[[remainderToString(getMaxOfStat(stat.key).runnerups)]]">
                        <span class="stat-total">[[_.str.numberFormat(getMaxOfStat(stat.key).head._stat)]]</span></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</template>

<template name="idleglobalstatslevels">
    <div class="box box-success">
        <div class="box-header">
            <h4 class="text-center">So Close...</h4>
        </div>
        <div class="box-body no-padding">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Player</th>
                    <th>Level</th>
                    <th>XP%</th>
                    <th>XP</th>
                </tr>
                </thead>
                <tr ng-repeat="player in getOrderedByXpPercent()" ng-if="$index < 5">
                    <td><a ui-sref="idleplayer({playerName:player.name})">[[player.name]]</a></td>
                    <td>[[player.level.__current]]</td>
                    <td>[[(player.xp.__current/player.xp.maximum*100).toFixed(3)]]%</td>
                    <td>[[player.xp.__current]]/[[player.xp.maximum]]</td>
                </tr>
            </table>
        </div>
    </div>
</template>

<template name="idleglobalstatsnewest">
    <div class="box box-success">
        <div class="box-header">
            <h4 class="text-center">Fresh Meat</h4>
        </div>
        <div class="box-body no-padding">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Player</th>
                    <th class="text-center">Join Time</th>
                </tr>
                </thead>
                <tr ng-repeat="player in getOrderedByJoinTime()" ng-if="$index < 5">
                    <td><a ui-sref="idleplayer({playerName:player.name})">[[player.name]]</a></td>
                    <td class="text-center"
                        am-time-ago="player.registrationDate"
                        data-title="[[player.registrationDate]]"
                        data-container="body"
                        bs-tooltip></td>
                </tr>
            </table>
        </div>
    </div>
</template>

<template name="idleglobalstatsleaderboard">
    <div class="box box-primary">
        <div class="box-header">
            <h4 class="text-center">Leaderboard</h4>
        </div>
        <div class="box-body no-padding">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Stat</th>
                    <th>Player</th>
                    <th>Count</th>
                    <th>Contribution</th>
                </tr>
                </thead>
                <tr ng-repeat="stat in statisticsToShow" ng-if="stat.name">
                    <th class="text-right">[[stat.name]]</th>
                    <td><a ui-sref="idleplayer({playerName:maxFromStatistics(stat.key).head.name})">[[maxFromStatistics(stat.key).head.name]]</a></td>
                    <td
                        class="text-center"
                        bs-tooltip
                        data-html="true"
                        data-container="body"
                        data-title="[[remainderToString(maxFromStatistics(stat.key).runnerups)]]">
                        <span class="stat-total">[[_.str.numberFormat(maxFromStatistics(stat.key).head._stat)]]</span></td>
                    <td>[[getPercentContribution(stat.key)]]%</td>
                </tr>
            </table>
        </div>
    </div>
</template>

<template name="idleglobalstatstotals">
    <div class="box box-danger">
        <div class="box-header">
            <h4 class="text-center">Totally Totals</h4>
        </div>
        <div class="box-body no-padding">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Stat</th>
                    <th>Count</th>
                </tr>
                </thead>
                <tr ng-repeat="stat in statisticsToShow" ng-if="stat.name">
                    <th class="text-right">[[stat.name]]</th>
                    <td>[[_.str.numberFormat(totalFromStatistics(stat.key))]]</td>
                </tr>
            </table>
        </div>
    </div>
</template>

<template name="idleglobalstatsgeneratable">
    <div class="box box-info">
        <div class="box-header">
            <h4 class="text-center">Generally Generatable</h4>
        </div>
        <div class="box-body no-padding">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Data Type</th>
                    <th class="text-center">Total Available</th>
                </tr>
                </thead>
                <tr ng-if="_.isEmpty(cached)">
                    <td colspan="2">Loading database metrics...</td>
                </tr>
                <tr ng-repeat="(key,value) in cached">
                    <td>[[key]]</td>
                    <td class="text-center">[[value]]</td>
                </tr>
            </table>
        </div>
    </div>
</template>

<template name="idleglobalstatspopclasses">
    <div class="box box-info">
        <div class="box-header">
            <h4 class="text-center">Popular Classes</h4>
        </div>
        <div class="box-body no-padding">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Class</th>
                    <th>Count</th>
                </tr>
                </thead>
                <tr ng-if="_.isEmpty(filters.cache.map)">
                    <td colspan="2">No one has a class! :(</td>
                </tr>
                <tr ng-repeat="kv in filters.sorted.profession">
                    <td>[[ kv[0] ]]</td>
                    <td>[[ kv[1] ]]</td>
                </tr>
            </table>
        </div>
    </div>
</template>

<template name="idleglobalstatspopmaps">
    <div class="box box-info">
        <div class="box-header">
            <h4 class="text-center">Popular Maps</h4>
        </div>
        <div class="box-body no-padding">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Personality</th>
                    <th>Count</th>
                </tr>
                </thead>
                <tr ng-if="_.isEmpty(filters.cache.map)">
                    <td colspan="2">No one is on any maps! :(</td>
                </tr>
                <tr ng-repeat="kv in filters.sorted.map">
                    <td>[[ kv[0] ]]</td>
                    <td>[[ kv[1] ]]</td>
                </tr>
            </table>
        </div>
    </div>
</template>

<template name="idleglobalstatspoppers">
    <div class="box box-info">
        <div class="box-header">
            <h4 class="text-center">Popular Personalities</h4>
        </div>
        <div class="box-body no-padding">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Map</th>
                    <th>Count</th>
                </tr>
                </thead>
                <tr ng-if="_.isEmpty(filters.cache.personality)">
                    <td colspan="2">No one is using any personalities :(</td>
                </tr>
                <tr ng-repeat="kv in filters.sorted.personality">
                    <td>[[ kv[0] ]]</td>
                    <td>[[ kv[1] ]]</td>
                </tr>
            </table>
        </div>
    </div>
</template>
